@{
    ViewData["Title"] = "About";
}
<!-- Container (About Section) -->
<div id="about" class="container-fluid">
    <div class="row">
        <div class="col-sm-8">
            <h2><strong>Mane Experience</strong></h2><br>

            <p><span style="font-family: 'RobotoCondensed', Arial, sans-serif; font-size: 20px;">Welcome, Class of 2021!</span> Your first year at Southeastern is an exciting time and will be filled with tons of academic and personal discovery, fresh experiences, and new friendships. This year is sure to be spectacular, but will certainly be a transition. Throughout the year, you will be exposed to the many diverse programs, resources, events, and services that Southeastern has to offer its students.</p>
            <br>
            <p>The Mane Experience is a unique program for the Southeastern freshman, designed to help you get the most out of your first year as a Lion so that you can find your ROAR! The Mane Experience focuses on four “mane” areas of campus life: academic success, personal health and wellness, student engagement, and lion pride. Each part of the Mane Experience goes hand-in-hand with the great things you’re learning in your classes and allows for a dynamic experience outside of the classroom.</p>
            <br>
            <p>As a Southeastern freshman you are already a part of the Mane Experience, but it’s up to you to decide your first year journey. We will keep up with your progress throughout the year and in May we will celebrate YOU and all of your Southeastern firsts!</p>
