@{
    ViewData["Title"] = "Contact";
}

<style>
    .logo {
        color: #339966;
        font-size: 200px;
    }
</style>

<!-- Container (About Section) -->
<div id="about" class="container-fluid">
    <div class="row">
        <div class="col-sm-8">
            <h2><strong>Contact Information</strong></h2><br>
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-envelope logo"></span>
            </div>
            <p>
                <strong>Address:</strong> Student Union West, Room 1301A
                Hammond, LA 70402
            </p>
            <p><strong>Email:</strong> <a href="mailto:mane@southeastern.edu">mane@southeastern.edu</a></p>
            <p><strong>Snapchat:</strong> southeasternme</p>
        </div>
    </div>
    <div class="col-sm-8">
        <h4 style="display: inline-block;">Instagram &nbsp; &nbsp;</h4>
        <p style="display: inline-block;"><span><a href="https://www.instagram.com/southeastern_me/">Follow Mane Experience &gt;&gt;</a></span></p>
        <div class="row"><a href=https://www.instagram.com/p/BZhlHteggsG /><img class='col-sm-3' style='display: inline; margin-bottom: 15px;' src=https://scontent.cdninstagram.com/t51.2885-15/e35/21984531_338690473262165_4332935038824873984_n.jpg /></a><a href=https://www.instagram.com/p/BZggepIASiP /><img class='col-sm-3' style='display: inline; margin-bottom: 15px;' src=https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/21980937_177099799529391_8406957148260532224_n.jpg /></a><a href=https://www.instagram.com/p/BYwjzYDg9UV /><img class='col-sm-3' style='display: inline; margin-bottom: 15px;' src=https://scontent.cdninstagram.com/t51.2885-15/e35/21436305_856545761178532_7222896572411936768_n.jpg /></a><a href=https://www.instagram.com/p/BYrGPtvg3SV /><img class='col-sm-3' style='display: inline; margin-bottom: 15px;' src=https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/21373201_1924428501155023_7073667585820065792_n.jpg /></a></div>
    </div>
</div>



