@{
    ViewData["Title"] = "Home Page";
}

<style>
    .jumbotron {
        background-color: #339966; /* SELU Green */
        color: #ffffff;
        padding: 100px 25px;
    }

    .container-fluid {
        padding: 60px 50px;
        .slideanim
    }

    {
    }

    .logo {
        color: #339966;
        font-size: 200px;
    }
</style>


<body>
    <div class="jumbotron text-center">
        
        <h1>Mane Experience</h1>
        <h2>Get the Most out of your Freshman Year!</h2>
        <p><a class="btn btn-danger" href="http://localhost:11809/Home/Contact">See More &raquo;</a></p>
    </div>
</body>

<div class="col-sm-12">
    <h4 style="display: inline-block;"><span style="font-family: 'RobotoCondensed', Arial, sans-serif; font-size: 35px;"><strong>Upcoming Mane Events</strong></span> &nbsp; &nbsp;</h4>
    <p style="display: inline-block;"><span><a href="/events">All Events &gt;&gt;</a></span></p>
</div>
<div class="clearfix">
    <div class='col-sm-4'>
        <div class='gray_calendar_box' style='margin-top: 15px;'>
            <h4>Homecoming Kickoff </h4><p>
                Oct ?2,? ?2017<br />
                11:00 AM -1:00 PM<br />
                Student Union Park
            </p><div style='text-align: right;'><a href=http://www.southeastern.edu/news_media/events/homecoming/index.html><span class='gray_calendar_box_link' style='float: right;'>Full Details <span class='blue_small_circle'>&raquo;</span></span></a></div>
        </div>
    </div><div class='col-sm-4'>
        <div class='gray_calendar_box' style='margin-top: 15px;'>
            <h4>Homecoming Black Family Reunion</h4><p>
                Oct ?2,? ?2017<br />
                7:00 PM<br />
                Student Union Mall
            </p><div style='text-align: right;'><a href=http://www.southeastern.edu/news_media/events/homecoming/index.html><span class='gray_calendar_box_link' style='float: right;'>Full Details <span class='blue_small_circle'>&raquo;</span></span></a></div>
        </div>
    </div><div class='col-sm-4'>
        <div class='gray_calendar_box' style='margin-top: 15px;'>
            <h4>Homecoming "Can You Build It?"</h4><p>
                ?Oct? ?3,? ?2017<br />
                10:00AM - 12:00PM<br />
                Student Union
            </p><div style='text-align: right;'><a href=http://www.southeastern.edu/news_media/events/homecoming/index.html><span class='gray_calendar_box_link' style='float: right;'>Full Details <span class='blue_small_circle'>&raquo;</span></span></a></div>
        </div>
    </div><div class='col-sm-4'>
        <div class='gray_calendar_box' style='margin-top: 15px;'>
            <h4>Phi Kappa Phi Quiz Bowl</h4><p>
                October 3, 2017<br />
                2:00PM<br />
                Student Union Theater
            </p><div style='text-align: right;'><a href=http://www.southeastern.edu/news_media/events/homecoming/index.html><span class='gray_calendar_box_link' style='float: right;'>Full Details <span class='blue_small_circle'>&raquo;</span></span></a></div>
        </div>
    </div><div class='col-sm-4'>
        <div class='gray_calendar_box' style='margin-top: 15px;'>
            <h4>Homecoming Blood Drive</h4><p>
                ?Oct ?3,? ?2017<br />
                9:00AM - 4:00PM<br />
                Student Union
            </p><div style='text-align: right;'><a href=http://www.southeastern.edu/news_media/events/homecoming/index.html><span class='gray_calendar_box_link' style='float: right;'>Full Details <span class='blue_small_circle'>&raquo;</span></span></a></div>
        </div>
    </div><div class='col-sm-4'>
        <div class='gray_calendar_box' style='margin-top: 15px;'>
            <h4>Homecoming Give Back Night at La Carreta</h4><p>
                October 3, 2017<br />
                5:00PM - 9:00PM<br />
                Hammond La Carreta Restaurant
            </p><div style='text-align: right;'><a href=http://www.southeastern.edu/news_media/events/homecoming/index.html><span class='gray_calendar_box_link' style='float: right;'>Full Details <span class='blue_small_circle'>&raquo;</span></span></a></div>
        </div>
    </div><div class='col-sm-4'>
        <div class='gray_calendar_box' style='margin-top: 15px;'>
            <h4>Homecoming Movie Night</h4><p>
                October 3, 2017<br />
                8:00PM<br />
                Student Union Theater
            </p><div style='text-align: right;'><a href=http://www.southeastern.edu/news_media/events/homecoming/index.html><span class='gray_calendar_box_link' style='float: right;'>Full Details <span class='blue_small_circle'>&raquo;</span></span></a></div>
        </div>
    </div><div class='col-sm-4'>
        <div class='gray_calendar_box' style='margin-top: 15px;'>
            <h4>Gumbo Ya Ya</h4><p>
                Oct 4, 2017<br />
                11:00 PM - 2:00 PM<br />
                Student Union Park
            </p><div style='text-align: right;'><a href=http://www.southeastern.edu/admin/cab /><span class='gray_calendar_box_link' style='float: right;'>Full Details <span class='blue_small_circle'>&raquo;</span></span></a></div>
        </div>
    </div><div class='col-sm-4'>
        <div class='gray_calendar_box' style='margin-top: 15px;'>
            <h4>Homecoming Minute to Win It</h4><p>
                October? ?4,? ?2017<br />
                7:30PM<br />
                Strawberry Stadium
            </p><div style='text-align: right;'><a href=http://www.southeastern.edu/news_media/events/homecoming/index.html><span class='gray_calendar_box_link' style='float: right;'>Full Details <span class='blue_small_circle'>&raquo;</span></span></a></div>
        </div>
    </div>
    <br>
