@model ManeExperience.Models.Events

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Events</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ID" />
        <div class="form-group">
            <label asp-for="EventTitle" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EventTitle" class="form-control" />
                <span asp-validation-for="EventTitle" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EventCreated" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EventCreated" class="form-control" />
                <span asp-validation-for="EventCreated" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EventCreatedBy" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EventCreatedBy" class="form-control" />
                <span asp-validation-for="EventCreatedBy" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EventDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EventDate" class="form-control" />
                <span asp-validation-for="EventDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EventTime" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EventTime" class="form-control" />
                <span asp-validation-for="EventTime" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EventInfo" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EventInfo" class="form-control" />
                <span asp-validation-for="EventInfo" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EventDetails" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EventDetails" class="form-control" />
                <span asp-validation-for="EventDetails" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
