@{
    ViewData["Title"] = "Home Page";
}
<div class="container-fluid center" style="max-width: 960px;">
    <div>
        <h2 class="uppercase">Mane Experience</h2>
    </div>
    <div id="contribute_content">
        <div class="clearfix">
            <div class="col-sm-8 landing-left">
                <div class="row" style="padding: 0 20px;">
                    <p>
                        <span style="font-family: 'RobotoCondensed', Arial, sans-serif; font-size: 20px;">Welcome, Class of 2021!</span> Your first year at Southeastern is an exciting time and will be filled with tons
                        of academic and personal discovery, fresh experiences, and new friendships. This year
                        is sure to be spectacular, but will certainly be a transition. Throughout the year,
                        you will be exposed to the many diverse programs, resources, events, and services
                        that Southeastern has to offer its students.
                    </p>
                    <p>
                        The Mane Experience is a unique program for the Southeastern freshman, designed to
                        help you get the most out of your first year as a Lion so that you can find your ROAR!
                        The Mane Experience focuses on four “mane” areas of campus life: academic success,
                        personal health and wellness, student engagement, and lion pride. Each part of the
                        Mane Experience goes hand-in-hand with the great things you’re learning in your classes
                        and allows for a dynamic experience outside of the classroom.
                    </p>
                    <p>
                        As a Southeastern freshman you are already a part of the Mane Experience, but it’s
                        up to you to decide your first year journey. We will keep up with your progress throughout
                        the year and in May we will celebrate YOU and all of your Southeastern firsts!
                    </p>
                    <h4>&nbsp;</h4>
                </div>
            </div>
            <div class="col-sm-4 clearfix landing-right">
                <div class="highlighted-links" style="margin-top: -15px;">
                    <h6><a href="/admin/ose/index.html">Student Engagement&nbsp;»</a></h6>
                    <h6><a href="/admin/fin_aid/index.html">Financial Aid&nbsp;»</a></h6>
                    <h6><a href="/admin/housing/index.html">University Housing&nbsp;»</a></h6>
                    <h6><a href="/admin/dining/index.html">Dining Services&nbsp;»</a></h6>
                    <h6><a href="/acad_research/programs/cse/index.html">Center for&nbsp;Student Excellence&nbsp;»</a></h6>
                    <h6><a href="/campus_life/happenings/index.html">Campus Happenings&nbsp;»</a></h6>
                    <h6><a href="/admin/campus_services/index.html">Campus Services&nbsp;»</a></h6>
                    <h6><a href="/admin/tb_rental/index.html">Textbook Rental&nbsp;»</a></h6>
                    <h6><a href="/admin/stu_affairs/handbook/index.html">Student Handbook&nbsp;»</a></h6>
                    <h6><a href="/map/index.html">Campus Map »</a></h6>
                    <h6><a href="/current_students/mane_exp/assets/commuter_map.pdf">Commuter Map&nbsp;»</a></h6>
                </div>
            </div>
        </div>
        </div>
    </div>

        <div class="col-sm-12 text-center">
            <br>
            <br>
            <h2 class="text-center">Current Event</h2>
            <a name="jump"></a>
            <img class="img-circle" src="~/images/lion.jpg" height="140" width=" 140">
            <h2> NOV 13</h2>
            <p>Priority Regristration Begins.</p>
            <p></p>
            <div class="input-group" style="margin-left: auto; margin-right: auto; width: 26%">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Type wNumber to Check in">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <i class="glyphicon glyphicon-user"></i>
                        </button>
                    </div>
                </div>
           </div>
                    <br />
                    <br />
                    <br />
       </div>


                <div class="row">
                    <h3 class="text-center">Future Events</h3>
                    <div class="col-sm-6 text-center">
                        <a name="jump"></a>
                        <img class="img-circle" src="~/images/lion.jpg" height="140" width=" 140">
                        <h2> NOV 15</h2>
                        <p>This Assignment is due.</p>
                        <p></p>
                        <div class="input-group" style="margin-left: auto; margin-right: auto; width: 51%">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Type wNumber to Check in">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="submit">
                                        <i class="glyphicon glyphicon-user"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 text-center">
                        <img class="img-circle" src="~/images/lion.jpg" height="140" width="140">
                        <h2>NOV 16</h2>
                        <p>Southeastern Football vs Nicholls State .</p>
                        <p></p>
                        <div class="input-group" style="margin-left: auto; margin-right: auto; width: 51%">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Type wNumber to Check in">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="submit">
                                        <i class="glyphicon glyphicon-user"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

